<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<?define SourceFolder = "$(var.VirtualWork.WinForms.TargetPath)" ?>
				
			<Component>
				<File Id="VirtualWork.Persistence.Output"
					  Name="$(var.VirtualWork.Persistence.TargetFileName)"
					  Source="$(var.VirtualWork.Persistence.TargetPath)"
					  KeyPath="yes" />
			</Component>			
			
			<Component>
				<File Id="VirtualWork.Core.Output"
					  Name="$(var.VirtualWork.Core.TargetFileName)"
					  Source="$(var.VirtualWork.Core.TargetPath)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="VirtualWork.Interfaces.Output"
					  Name="$(var.VirtualWork.Interfaces.TargetFileName)"
					  Source="$(var.VirtualWork.Interfaces.TargetPath)"
					  KeyPath="yes" />
			</Component>
			<Component>
				<File Id="VirtualWork.Output"
					  Name="$(var.VirtualWork.TargetFileName)"
					  Source="$(var.VirtualWork.TargetPath)"
					  KeyPath="yes" />
			</Component>
			<Component>
				<File Id="VirtualWork.WinForms.Output"
					  Name="$(var.VirtualWork.WinForms.TargetFileName)"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>
			
			<Component>
				<File Id="VirtualWork.Output.config"
					  Name="$(var.VirtualWork.TargetFileName).config"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<!-- Components from NuGet packages with open source code -->

			<!-- https://www.nuget.org/packages/WinForms.MessageBoxes/ -->
			<Component>
				<File Id="MessageBoxes.dll"
					  Name="MessageBoxes.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="MessageBoxSender.exe"
					  Name="MessageBoxSender.exe"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="Enums.dll"
					  Name="Enums.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>
			
			<Component>
				<File Id="SourceInfo.dll"
					  Name="SourceInfo.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<!-- https://www.nuget.org/packages/Mtf.LanguageService/ -->
			<Component>
				<File Id="LanguageService.dll"
					  Name="LanguageService.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="LanguageService.WPF.dll"
					  Name="LanguageService.WPF.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="LanguageService.Windows.Forms.dll"
					  Name="LanguageService.Windows.Forms.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="Ionic.Zip.dll"
					  Name="Ionic.Zip.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="Languages.ods"
					  Name="Languages.ods"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>
			
			<!-- https://www.nuget.org/packages/Mtf.EmailService/ -->
			<Component>
				<File Id="EmailService.dll"
					  Name="EmailService.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<!-- https://www.nuget.org/packages/Mtf.CommandExecutor/ -->
			<Component>
				<File Id="CommandExecutor.exe"
					  Name="CommandExecutor.exe"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="CommandSender.exe"
					  Name="CommandSender.exe"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="Common.dll"
					  Name="Common.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>
			
			<!-- Third-party components -->

			<Component>
				<File Id="EntityFramework"
					  Name="EntityFramework"
					  Source="$(var.VirtualWork.Persistence.TargetPath)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="EntityFramework.SqlServer"
					  Name="EntityFramework.SqlServer"
					  Source="$(var.VirtualWork.Persistence.TargetPath)"
					  KeyPath="yes" />
			</Component>

			<Component>
				<File Id="Ninject.dll"
					  Name="Ninject.dll"
					  Source="$(var.SourceFolder)"
					  KeyPath="yes" />
			</Component>

		</ComponentGroup>

		<ComponentGroup Id="ProductDocumentation" Directory="Documentation">

			<Component>
				<File Id="VIRtualWorkUserGuide_pdf"
					  Name="VIRtual Work User Guide.pdf"
					  Source="..\VirtualWork\Documentation\VIRtual Work User Guide.pdf"
					  KeyPath="yes" />
			</Component>
			
		</ComponentGroup>
		
	</Fragment>
</Wix>
