<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net48" />
  <package id="Mtf.EmailService" version="1.0.1" targetFramework="net48" />
  <package id="Mtf.Windows.Forms.LanguageService" version="1.0.2" targetFramework="net48" />
  <package id="Mtf.WPF.LanguageService" version="1.0.2" targetFramework="net48" />
  <package id="Ninject" version="3.3.4" targetFramework="net48" />
  <package id="WinForms.MessageBoxes" version="1.0.1" targetFramework="net48" />
</packages>